<div class="hero">
  <%= image_tag "hero.png" %>
	<div id="hero1" class="hero-text">
		<div>A Better Life for Dogs</div>
		<div>One Puppy at a Time.</div>
	</div>
</div>
<ul class="grid">
	<li class="step">
    <%= image_tag "puppy1.png" %>
		<div class="step-header">You Bid.</div>
		<div class="step-description">
			All puppies under 2 years are available to place bids.
		</div>
	</li>
	<li class="step">
    <%= image_tag "puppy2.png" %>
		<div class="step-header">You Win.</div>
		<div class="step-description">
			The highest bidder become the fuuuurever home for the puppy.
		</div>
	</li>
	<li class="step">
    <%= image_tag "puppy3.png" %>
		<div class="step-header">You Save.</div>
		<div class="step-description">
			All proceeds go towards saving hundreds of oldies.
		</div>
	</li>
</ul>
<div class="hero">
  <%= image_tag "hero2.png" %>
	<div class="hero-text" id="hero2">
		<div>"Charlie is my best friend. Thank you Puppies R US"</div>
	</div>
</div>
<footer>
	<button>BEGIN PUPPY BID</button>
</footer>
